{% extends 'main/layoute.html' %}

{% block title %}
    Новостная страница
{% endblock %}

{% block content %}
<div class="text-center mt-5">
    <h1>Новостная страница</h1>
    {% if news %}
        <div class="row justify-content-center">
            {% for new in news %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h3 class="card-title">{{ new.title }}</h3>
                            <p class="card-text">{{ new.short_description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h4>Новостей нет</h4>
    {% endif %}
</div>
{% endblock %}