{% extends 'main/layoute.html' %}

{% block title %}
    Первая страница на Django
{% endblock %}

{% block content %}
<div class="text-center mt-5">
    <h1>Добро пожаловать на сайт {{caption}}!</h1>
    <h3>Это уникальный проект, посвящённый нашим пушистым друзьям — кошкам. Мы создаём удобную платформу, где вы сможете найти полезную информацию, а также поделиться историями и фотографиями своих питомцев.</h3>
    <p>На нашем сайте вы сможете узнать интересные факты о кошках, их повадках и здоровье.</p>
    <p>{{caption}} — это место, где каждый кошатник найдёт для себя что-то полезное.</p>
    <p>Мы предлагаем статьи, советы по уходу, а также рекомендации по кормлению и воспитанию.</p>
    <p>Присоединяйтесь к сообществу любителей кошек, общайтесь на форуме, задавайте вопросы и делитесь своими любимыми моментами. CatDjango — это проект, созданный с любовью к кошкам для тех, кто также не представляет свою жизнь без них!</p>
</div>
{% endblock %}