<aside class="bg-light p-3">
    <h2 class="h4">Мой сайт</h2>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Главная</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'services' %}">Услуги</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">О нас</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Контакты</a>
        </li>
    </ul>
</aside>