{% extends 'main/layoute.html' %}

{% block title %}
    Услуги
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1>Наши Услуги</h1>
        <p>Мы предлагаем следующие услуги для владельцев кошек:</p>
        <ul>
            <li>Консультации по уходу за кошками</li>
            <li>Рекомендации по правильному питанию</li>
            <li>Советы по воспитанию и дрессировке</li>
            <li>Форум для общения с другими владельцами кошек</li>
        </ul>
        <p>Свяжитесь с нами, если у вас возникли вопросы о наших услугах.</p>
    </div>
{% endblock %}